*{
    padding: 0;
    margin: 0;
}
.menu{
    background-color: #d5b4d3;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:1px solid #fff;
    box-shadow: 5px 0 10px rgba(0,0,0, .6);
   
    top: 0;

}

.logo{
    color: #2c2130;
    font-size: 40px;
    padding: 0 80px;
    font-weight: bold;

}

.menu-items{
    display: flex;
    list-style: none;
    margin-right: 30px;
  
    
}


li {
    float: left;
    border-left:1px solid #2c2130;
    
  }
.menu-items li a {
    display: block;
    color: #2c2130;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
 



li a:hover:not(.inPage) {
    background-color: #2c2130;
    color: #d5b4d3;
    transition: .3s;
  }
  
  .inPage {
    background-color: rgb(123, 94, 134);
    color: #d5b4d3;
  }