/* CONTEDOR DE LA VISTA DEL PRODUCTO */
.contenedor{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 30px;
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
}

.img-producto{
    width: 400px;
    transition: transform 1.2s;
}

img{
    width: 100%;
    
    
    border-radius: 10px;
}

.img-producto:hover{
    transform: scale(1.1);
    object-fit:contain;
    box-shadow:10px 30px 80px grey;
   /*  transition: 0.5s; */
    
   
}

.texto{
    
    display: grid;
    align-items: center;
    justify-items: start;
    
}

.precio p{
    font-size:25px;
    margin-left: 20px;


}
h1{
    padding: 0 10px;
    font-size: 60px;
}

.comprar{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 20px;
    grid-gap: 20px;
}
.button {
    background-color: #2c2130; 
    border: none;
    color: white;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    margin: 10px 2px;
    border-radius: 50px;
   
    width: 200px;
    
  }

.button:hover{
    cursor: pointer;
    opacity: 0.8;
}

/* PARTE DONDE SE COMENTA EL PRODUCTO */
.descripcion{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background:#fff;
    padding: 3em 0;
    margin-bottom: 3em;
}

.valoracion{
    height: 50px;
   
    padding: 0px 20px;
    margin: 0px 15px;
    border-bottom: 2px solid rgb(154, 84, 179);
}

.valoracion h2{
    font-size:20px;
}

.contendor-comentario{
    width: 90%;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    
    padding: 1em;
    border-radius:2px;
    display: grid;
    
}



.usuario{
    height: 30px;
   display: grid;
   
   /* grid-template-columns: 5% 11% 50% auto; */
   grid-template-columns: 30% auto;
   align-items: center;
  
   
}
.perfil{
    display: grid;
    grid-template-columns: 15% auto auto;
    
}
.avatar {
    margin-left: 5px;
    border-radius: 50%;
    border: 1px solid #f7f7f7;
    height: 30px;
    width: 30px;
}
img {
    max-width: 100%;
}

.avatar:hover{
    cursor: pointer;
    opacity: 0.8;
}


.nombre{
    width: 100px;
}

.nombre h4{
    width: 100px;
    padding-left: 10px;
    margin-right: 20px;
}

.nombre h4:hover{
    text-decoration: underline;
    cursor: pointer;
}
.estrellas{
    padding-bottom: 10px;
    margin-left: 10px;
}

.comentario{
    margin-top: 5px;
    background-color: rgba(128, 128, 128, 0.24);
    border-bottom: 3px solid #4c2397;
    border-left: 3px solid #2c2130;
    height: 80px;
    
}

.comentario p{
    margin: 0px 30px;
    padding: 10px 0;
    font-size:20px;

}

.fecha{
    padding-top: 5px;
    padding: 10px 5px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(71, 0, 163);
    color: rgb(255, 255, 255);
    width: 300px;
    justify-self: end;
}


.reaccionar{
    height: 30px;
    display:flex;
    
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #2c2130;
    border-left: 1px solid #2c2130;
    border-bottom-left-radius: 5px;
    background: rgb(49, 0, 68);
    color: #f7f7f7;
}

.reaccionar p:hover{    
    opacity: 0.9;
    cursor: pointer;
    font-weight: bold;
   
}